@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: "Junction-bold"; src: url('attributes/Junction-bold.otf');
    font-family: "Junction-light"; src: url('attributes/Junction-light.otf');
    font-family: "Junction-regular"; src: url('attributes/Junction-regular.otf');
}

body {

    background-color: #030100;
    font-family: "Junction-bold", sans-serif;
    }


section.content {
    font-family: "Junction-bold", sans-serif;
    }

p{
    color: #FFF;
    }

ul.bullets {
    list-style-type: disc:
    color: #FFF;
    }

ul.bullets li::before {
    content: "•";
    color: #FFF;
    }


h1 {
    color: #FFF;
    position: relative;
    font-size:105px;
    text-align: center;
    font-family: "Junction-bold", sans-serif;

}

main{
    width: 960px;
    height: auto;
    position: relative;
    margin-bottom: 400px;
}

iframe {
    position: relative;
    width: 960px;
    height: 540px;
    display: block;
    margin: 0 auto;

}

nav {
  background: #030100;
  overflow: auto;
  padding: 80px;
  position: relative;
  z-index: 2;
  width: 100%;
}

ul {
  text-align: center;
  float: right;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  color: #eee;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  transition: all 200ms linear;
}

nav a:hover,
nav#small a:hover {
  color: #f08319;
}

nav#small {
  background: #006779;
  padding: 1px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 2px #fff;
}

div#content {
  height: 1920px;
}

@media (max-width: 700px) {
  nav {
    padding: 20px;
 }
}


.content{

}

p{
  text-align: center;
}
/*footer*/
footer{
background-color: #006779;
padding: 1px;
height: 100px;
text-align: right;
}
#billider{
  margin: auto;
}
h4{
  margin-right: 15px;
  font-size: 18px;
}
img{
  position: relative;
  left: -65%;
}
